@{

	// Layout
	Layout = "_Layout";

	// View
	ew_View = this;

	// Global Page Rendering event
	Page_Rendering();

	// Page Render event
	AgentBankRemittanceRate_delete.Page_Render();

	// Local variables (Temp data)
	bool emptywrk;
	string wrkonchange;
	List<OrderedDictionary> rswrk;
	List<OrderedDictionary> alwrk;
	bool selwrk;
	string[] arwrk;
	OrderedDictionary odwrk;
	string sSqlWrk;
	string sFilterWrk;
	string sWhereWrk;
}
<script type="text/javascript">

// Form object
var CurrentPageID = EW_PAGE_ID = "delete";
var CurrentForm = fAgentBankRemittanceRatedelete = new ew_Form("fAgentBankRemittanceRatedelete", "delete");

// Form_CustomValidate event
fAgentBankRemittanceRatedelete.Form_CustomValidate = 
 function(fobj) { // DO NOT CHANGE THIS LINE!

 	// Your custom validation code here, return false if invalid.
 	return true;
 }

// Use JavaScript validation or not remove PROJ.ProgramLanguage
fAgentBankRemittanceRatedelete.ValidateRequired = @((EW_CLIENT_VALIDATE) ? "true" : "false");

// Dynamic selection lists
fAgentBankRemittanceRatedelete.Lists["x_ContractType"] = {"LinkField":"","Ajax":null,"AutoFill":false,"DisplayFields":["","","",""],"ParentFields":[],"ChildFields":[],"FilterFields":[],"Options":[],"Template":""};
fAgentBankRemittanceRatedelete.Lists["x_ContractType"].Options = @Html.Raw(ew_ArrayToJson(AgentBankRemittanceRate.ContractType.Options()));
fAgentBankRemittanceRatedelete.Lists["x_CurrencyCode"] = {"LinkField":"x_CurrCode","Ajax":true,"AutoFill":false,"DisplayFields":["x_CurrCode","","",""],"ParentFields":[],"ChildFields":["x_AgentId"],"FilterFields":[],"Options":[],"Template":"","LinkTable":"vw_AgentFCBal"};
fAgentBankRemittanceRatedelete.Lists["x_AgentId"] = {"LinkField":"x_AgentId","Ajax":true,"AutoFill":false,"DisplayFields":["x_AgentId","x_AgentName","x_Balance",""],"ParentFields":[],"ChildFields":[],"FilterFields":[],"Options":[],"Template":"","LinkTable":"vw_AgentFCBal"};

// Form object for search
</script>
<script type="text/javascript">

// Write your client script here, no need to add script tags.
</script>
<div class="ewToolbar">
@if (ew_Empty(AgentBankRemittanceRate.Export)) {
<div style="display: inline-block">
	@{ Breadcrumb?.Render(); }
</div>
}
@if (ew_Empty(AgentBankRemittanceRate.Export)) {
	@Language.SelectionForm()
}
	<div class="clearfix"></div>
</div>
@AgentBankRemittanceRate_delete.ShowPageHeader()
@{ AgentBankRemittanceRate_delete.ShowMessage(); }
<form name="fAgentBankRemittanceRatedelete" id="fAgentBankRemittanceRatedelete" class="form-inline ewForm ewDeleteForm" action="@ew_AppPath(ew_CurrentPage())" method="post">
<br>
@if (AgentBankRemittanceRate_delete.CheckToken) {
<input type="hidden" name="@EW_TOKEN_NAME" value="@AgentBankRemittanceRate_delete.Token">
}
<input type="hidden" name="a_delete" id="a_delete" value="D">
@foreach (string key in AgentBankRemittanceRate_delete.RecKeys) {
 <input type="hidden" name="key_m" value="@key">
}
<div class="ewGrid">
<div class="@((ew_IsResponsiveLayout()) ? "table-responsive" : "ewGridMiddlePanel")">
<table class="table ewTable">
@Html.Raw(AgentBankRemittanceRate_delete.TableCustomInnerHtml)
	<thead>
	<tr class="ewTableHeader">
@if (AgentBankRemittanceRate.id.Visible) { // id (begin)
		<th><span id="elh_AgentBankRemittanceRate_id" class="AgentBankRemittanceRate_id">@Html.Raw(AgentBankRemittanceRate.id.FldCaption)</span></th>
} @* id.Visible (end) *@
@if (AgentBankRemittanceRate.ContractType.Visible) { // ContractType (begin)
		<th><span id="elh_AgentBankRemittanceRate_ContractType" class="AgentBankRemittanceRate_ContractType">@Html.Raw(AgentBankRemittanceRate.ContractType.FldCaption)</span></th>
} @* ContractType.Visible (end) *@
@if (AgentBankRemittanceRate.CreatedDate.Visible) { // CreatedDate (begin)
		<th><span id="elh_AgentBankRemittanceRate_CreatedDate" class="AgentBankRemittanceRate_CreatedDate">@Html.Raw(AgentBankRemittanceRate.CreatedDate.FldCaption)</span></th>
} @* CreatedDate.Visible (end) *@
@if (AgentBankRemittanceRate.CurrencyCode.Visible) { // CurrencyCode (begin)
		<th><span id="elh_AgentBankRemittanceRate_CurrencyCode" class="AgentBankRemittanceRate_CurrencyCode">@Html.Raw(AgentBankRemittanceRate.CurrencyCode.FldCaption)</span></th>
} @* CurrencyCode.Visible (end) *@
@if (AgentBankRemittanceRate.AgentId.Visible) { // AgentId (begin)
		<th><span id="elh_AgentBankRemittanceRate_AgentId" class="AgentBankRemittanceRate_AgentId">@Html.Raw(AgentBankRemittanceRate.AgentId.FldCaption)</span></th>
} @* AgentId.Visible (end) *@
@if (AgentBankRemittanceRate.Rate.Visible) { // Rate (begin)
		<th><span id="elh_AgentBankRemittanceRate_Rate" class="AgentBankRemittanceRate_Rate">@Html.Raw(AgentBankRemittanceRate.Rate.FldCaption)</span></th>
} @* Rate.Visible (end) *@
@if (AgentBankRemittanceRate.Amount.Visible) { // Amount (begin)
		<th><span id="elh_AgentBankRemittanceRate_Amount" class="AgentBankRemittanceRate_Amount">@Html.Raw(AgentBankRemittanceRate.Amount.FldCaption)</span></th>
} @* Amount.Visible (end) *@
@if (AgentBankRemittanceRate.Balance.Visible) { // Balance (begin)
		<th><span id="elh_AgentBankRemittanceRate_Balance" class="AgentBankRemittanceRate_Balance">@Html.Raw(AgentBankRemittanceRate.Balance.FldCaption)</span></th>
} @* Balance.Visible (end) *@
@if (AgentBankRemittanceRate.CreatedBy.Visible) { // CreatedBy (begin)
		<th><span id="elh_AgentBankRemittanceRate_CreatedBy" class="AgentBankRemittanceRate_CreatedBy">@Html.Raw(AgentBankRemittanceRate.CreatedBy.FldCaption)</span></th>
} @* CreatedBy.Visible (end) *@
	</tr>
	</thead>
	<tbody>
@{
AgentBankRemittanceRate_delete.RecCnt = 0;
}
@while (AgentBankRemittanceRate_delete.Recordset != null && AgentBankRemittanceRate_delete.Recordset.Read()) { // DN
	AgentBankRemittanceRate_delete.RecCnt++;
	AgentBankRemittanceRate_delete.RowCnt++;

	// Set row properties
	AgentBankRemittanceRate_delete.ResetAttrs();
	AgentBankRemittanceRate_delete.RowType = EW_ROWTYPE_VIEW; // View

	// Get the field contents
	AgentBankRemittanceRate_delete.LoadRowValues(AgentBankRemittanceRate_delete.Recordset);

	// Render row
	AgentBankRemittanceRate_delete.RenderRow();
	<tr @Html.Raw(AgentBankRemittanceRate_delete.RowAttributes)>
@if (AgentBankRemittanceRate.id.Visible) { // id (begin)
		<td @Html.Raw(AgentBankRemittanceRate.id.CellAttributes)>
<span id="el@(AgentBankRemittanceRate_delete.RowCnt)_AgentBankRemittanceRate_id" class="AgentBankRemittanceRate_id">
<span @Html.Raw(AgentBankRemittanceRate.id.ViewAttributes)>
@Html.Raw(AgentBankRemittanceRate.id.ListViewValue)</span>
</span>
</td>
} @* id.Visible (end) *@
@if (AgentBankRemittanceRate.ContractType.Visible) { // ContractType (begin)
		<td @Html.Raw(AgentBankRemittanceRate.ContractType.CellAttributes)>
<span id="el@(AgentBankRemittanceRate_delete.RowCnt)_AgentBankRemittanceRate_ContractType" class="AgentBankRemittanceRate_ContractType">
<span @Html.Raw(AgentBankRemittanceRate.ContractType.ViewAttributes)>
@Html.Raw(AgentBankRemittanceRate.ContractType.ListViewValue)</span>
</span>
</td>
} @* ContractType.Visible (end) *@
@if (AgentBankRemittanceRate.CreatedDate.Visible) { // CreatedDate (begin)
		<td @Html.Raw(AgentBankRemittanceRate.CreatedDate.CellAttributes)>
<span id="el@(AgentBankRemittanceRate_delete.RowCnt)_AgentBankRemittanceRate_CreatedDate" class="AgentBankRemittanceRate_CreatedDate">
<span @Html.Raw(AgentBankRemittanceRate.CreatedDate.ViewAttributes)>
@Html.Raw(AgentBankRemittanceRate.CreatedDate.ListViewValue)</span>
</span>
</td>
} @* CreatedDate.Visible (end) *@
@if (AgentBankRemittanceRate.CurrencyCode.Visible) { // CurrencyCode (begin)
		<td @Html.Raw(AgentBankRemittanceRate.CurrencyCode.CellAttributes)>
<span id="el@(AgentBankRemittanceRate_delete.RowCnt)_AgentBankRemittanceRate_CurrencyCode" class="AgentBankRemittanceRate_CurrencyCode">
<span @Html.Raw(AgentBankRemittanceRate.CurrencyCode.ViewAttributes)>
@Html.Raw(AgentBankRemittanceRate.CurrencyCode.ListViewValue)</span>
</span>
</td>
} @* CurrencyCode.Visible (end) *@
@if (AgentBankRemittanceRate.AgentId.Visible) { // AgentId (begin)
		<td @Html.Raw(AgentBankRemittanceRate.AgentId.CellAttributes)>
<span id="el@(AgentBankRemittanceRate_delete.RowCnt)_AgentBankRemittanceRate_AgentId" class="AgentBankRemittanceRate_AgentId">
<span @Html.Raw(AgentBankRemittanceRate.AgentId.ViewAttributes)>
@Html.Raw(AgentBankRemittanceRate.AgentId.ListViewValue)</span>
</span>
</td>
} @* AgentId.Visible (end) *@
@if (AgentBankRemittanceRate.Rate.Visible) { // Rate (begin)
		<td @Html.Raw(AgentBankRemittanceRate.Rate.CellAttributes)>
<span id="el@(AgentBankRemittanceRate_delete.RowCnt)_AgentBankRemittanceRate_Rate" class="AgentBankRemittanceRate_Rate">
<span @Html.Raw(AgentBankRemittanceRate.Rate.ViewAttributes)>
@Html.Raw(AgentBankRemittanceRate.Rate.ListViewValue)</span>
</span>
</td>
} @* Rate.Visible (end) *@
@if (AgentBankRemittanceRate.Amount.Visible) { // Amount (begin)
		<td @Html.Raw(AgentBankRemittanceRate.Amount.CellAttributes)>
<span id="el@(AgentBankRemittanceRate_delete.RowCnt)_AgentBankRemittanceRate_Amount" class="AgentBankRemittanceRate_Amount">
<span @Html.Raw(AgentBankRemittanceRate.Amount.ViewAttributes)>
@Html.Raw(AgentBankRemittanceRate.Amount.ListViewValue)</span>
</span>
</td>
} @* Amount.Visible (end) *@
@if (AgentBankRemittanceRate.Balance.Visible) { // Balance (begin)
		<td @Html.Raw(AgentBankRemittanceRate.Balance.CellAttributes)>
<span id="el@(AgentBankRemittanceRate_delete.RowCnt)_AgentBankRemittanceRate_Balance" class="AgentBankRemittanceRate_Balance">
<span @Html.Raw(AgentBankRemittanceRate.Balance.ViewAttributes)>
@Html.Raw(AgentBankRemittanceRate.Balance.ListViewValue)</span>
</span>
</td>
} @* Balance.Visible (end) *@
@if (AgentBankRemittanceRate.CreatedBy.Visible) { // CreatedBy (begin)
		<td @Html.Raw(AgentBankRemittanceRate.CreatedBy.CellAttributes)>
<span id="el@(AgentBankRemittanceRate_delete.RowCnt)_AgentBankRemittanceRate_CreatedBy" class="AgentBankRemittanceRate_CreatedBy">
<span @Html.Raw(AgentBankRemittanceRate.CreatedBy.ViewAttributes)>
@Html.Raw(AgentBankRemittanceRate.CreatedBy.ListViewValue)</span>
</span>
</td>
} @* CreatedBy.Visible (end) *@
	</tr>
}
@{ AgentBankRemittanceRate_delete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div>
<button class="btn btn-primary ewButton" name="btnAction" id="btnAction" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ewButton" name="btnCancel" id="btnCancel" type="button" data-href="@ew_AppPath(AgentBankRemittanceRate_delete.ReturnUrl)">@Language.Phrase("CancelBtn")</button>
</div>
</form>
<script type="text/javascript">
fAgentBankRemittanceRatedelete.Init();
</script>
@AgentBankRemittanceRate_delete.ShowPageFooter()
@DebugMsg()
@ElapsedTime(StartTime)
<script type="text/javascript">

// Write your table-specific startup script here
// document.write("page loaded");

</script>
@{ AgentBankRemittanceRate_delete.Page_Terminate(); }
